/* primary text color #212121 */

/* secondary color #757575 */

/* third-text-color: Hero, advantages, section H2 what we do, footer <p>, adress only <p>, social links when :hover - #FFFFFF */

/* link color #2196F3 */

/* footer adress ul li - rgba(255, 255, 255, 0.6); */

/* 2020 | Developed by GoIT Students - rgba(255, 255, 255, 0.4); */

/* bcg логотипов с раздела преимущества #F5F4FA; */

:root{
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --third-text-color: #FFFFFF;
    --link-color: #2196F3;
}

/* Логотип */
.nav .first-name{
    color: var(--link-color);
    font-family: 'Raleway', sans-serif;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.nav .last-name{
    color: var(--primary-text-color);
    font-family: 'Raleway', sans-serif;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

/* Верхняя панель перехода по ссылкам внутри сайта */
.nav-link .title{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link .title:hover,
.nav-link .title:focus{
    color: var(--link-color);
}

/* Верхняя панель отправки мейла и телефонного звонка */
.nav-contacts .link{
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
}

.nav-link .current{
    color: var(--link-color);
}

.nav-contacts .link:hover,
.nav-contacts .link:focus{
    color: var(--link-color);
}

/* Заглавие сайта - HERO */
.hero .title{
    color: var(--third-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero .link{
    background-color: var(--link-color);
    color: var(--third-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    letter-spacing: 0.06em;
}

/* Преимущества */
.advantages .title{
    color: var(--primary-text-color);
}

.advantages .description{
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.advantages img{
    background-color: #F5F4FA;
}

.advantages .title{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.advantages img:hover,
.advantages img:focus{
    background-color: var(--link-color);
}

/* Чем мы занимаемся */
.title-section{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

.benefit .capabilities{
    color: var(--third-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    background-color: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
}

/* Наша команда */
.team .title{
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team p{
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* Наша команда в соц.сетях */
.social-links img:hover,
.social-links img:focus{
    background-color: var(--link-color);
}

.partners img:hover,
.partners img:focus{
    background-color: var(--link-color);
}

.contacts .first-name{
    color: var(--link-color);
    font-style: normal;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.contacts .last-name{
    color: var(--third-text-color);
    font-style: normal;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.contacts > p{
    color: var(--third-text-color);
    font-style: normal;
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.contacts a{
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.join{
    color: var(--third-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.developers{
    color: rgba(255, 255, 255, 0.4);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
}

.resources a{
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
}

.resources a:hover,
.resources a:focus{
    color: var(--third-text-color);
}

.portfolio h3{
    color: var(--primary-text-color);
}

.portfolio p{
    color: var(--secondary-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
}

.portfolio .description{
    color: var(--third-text-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
}